# do create an api-key for the model to perform , the below api key will be removed soon from github
AI_API_KEY=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
AI_API_BASE=https://api.openai.com/v1
AI_MODEL=gpt-4o-mini
